PORT=3000

MAILER_SERVICE =gmail(poner tu proveedor)
MAILER_EMAIL=poner tu correo
MAILER_SECRET_KEY=poner tu key

PROD=false

MONGO_URL=mongodb://uriel:123456@localhost:27017
MONGO_DB_NAME=NOC
MONGO_USER=uriel
MONGO_PASS=123456

POSTGRES_URL=
POSTGRES_USER=postgres
POSTGRES_DB=NOC
POSTGRES_PASSWORD=123456